@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
    --blue: #00c4cc;
    --purple: #000;
    --red: #ff1616;
    --black: #000;
    --white: #fff;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection {
    background: var(--blue);
    color: var(--white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #f9f9f9;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background: var(--red);
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.btn:hover {
    color: var(--blue);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    color: var(--white);
    transition: 0.5s;
}

header .logo img {
    width: 6vw;
    height: 4vw;
    cursor: pointer;
    margin-right: 31vw;
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--black);
}

header .navbar a:hover {
    color: var(--blue);
}

header .button {
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    margin-left: 2rem;
    background: var(--red);
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

header.sticky {
    padding: 0.1rem 8%;
    background: var(--white);
}
header .button:hover {
    color: var(--blue);
}

header .navbar a .button {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--white);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--blue);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

header.sticky .logo,
header.sticky .navbar a {
    color: var(--blue);
}

header.sticky .navbar a:hover {
    color: var(--black);
}

header.sticky .button {
    color: var(--white);
}

header.sticky .button:hover {
    color: var(--black);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/images/landing-page/bg-home.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    flex: 1 1 40rem;
}

.home .image img {
    width: 30vw;
}

.home .asset img {
    width: 50vw;
}

.home .content span {
    color: var(--black);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.home .content h3 {
    font-size: 5rem;
    color: var(--blue);
    text-transform: uppercase;
}

.home .content p {
    font-size: 1.7rem;
    color: var(--black);
    padding: 1rem 0;
}

.features {
    background: url(/assets/images/landing-page/bg-alur.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.features .heading h1 {
    text-align: center;
    background: var(--blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.features .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .features  .box-container .card {
    flex: 1 1 30rem;
    margin-top: 100px;
    margin-right: 50px;
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    /* margin : 30px 10px; */
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
 
  .features .box-container .card:hover {
    height : 320px;    
  }

  .features .box-container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .features .box-container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .features .box-container .card .test {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
  }

.features .box-container .card .test h3{
  font-size: 40px;
}

.features .box-container .card .test p{
    font-size: 13px;
  }
  
  .features .box-container .card:hover .test {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
  }

/* 
.features .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.features .box-container .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    
}


.features .box-container .card {
    position: relative;
    cursor: pointer;
    
}

.features .box-container .card .face1{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.features .box-container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.features .box-container .card .face.face1{
    background: var(--blue);
    transform: translateY(0);
} */

/* .features .box-container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
} */

/* .features .box-container .card:hover .face.face1 .content{
    opacity: 1;
} */
/* 
.features .box-container .card .face.face1 .content img{
    max-width: 100px;
}

.features .box-container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.features .box-container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.features .box-container .card:hover .face.face2{
    transform: translateY(0);
}

.features .box-container .card:hover .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.features .box-container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.features .box-container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
} */

/* .features .box-container .box:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.features .box-container .box img {
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-top: 1rem;
}

.features .box-container .box p {
    font-size: 1.3rem;
    color: var(--black);
    padding: 1rem 0;
} */
.about {
    background: url(/assets/images/landing-page/bg-syarat.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .heading {
    text-align: center;
    background: var(--blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image {
    flex: 1 0 38rem;
}

.about .column .image img {
    width: 100%;
}

.about .column .content {
    flex: 1 1 40rem;
}

.about .column .content h3 {
    font-size: 2rem;
    color: var(--blue);
}

.about .column .content p {
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}
.about .column .content .btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    margin-left: 0rem;
    background: var(--red);
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.about .column .content .btn:hover {
    color: var(--black);
}
/* .about {
    background: url(/assets/images/landing-page/bg-syarat.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .heading {
    text-align: center;
    background: var(--blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image {
    flex: 1 0 38rem;
}

.about .column .image img {
    width: 100%;
}

.about .column .content {
    flex: 1 1 40rem;
}

.about .column .content h3 {
    font-size: 2rem;
    color: var(--blue);
}

.about .column .content p {
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}
.about .column .content .btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    margin-left: 0rem;
    background: var(--red);
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.about .column .content .btn:hover {
    color: var(--black);
} */

.contact {
    background: url(/assets/images/landing-page/bg-kontak.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.contact-in {
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 45%;
}

.contact-form h1 {
    margin-top: 70px;
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}

.contact-form p {
    width: 100%;
    color: var(--black);
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    text-transform: lowercase;
}

.contact .img-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact .img-contact a {
    width: 1.3vw;
    height: 1.3vh;
    margin-right: 3rem;
    margin-top: 1rem;
}

.show-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background: var(--red);
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.show-btn:hover {
    color: var(--blue);
}

input[type="checkbox"] {
    display: none;
}

#show:checked ~ .container {
    display: block;
}

.container {
    display: none;
    border-radius: 4px;
    width: 90rem;
    height: 50rem;
    background: rgba(255, 255, 255, 0.883);
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(147, 255, 251);
}

.container .border {
    border-bottom: 1px solid rgb(147, 255, 251);
    background: rgba(167, 243, 255, 0.738);
}

.container .logo img {
    width: 70px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container h1 {
    font-size: 1.5rem;
    text-align: left;
    color: var(--black);
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container p {
    margin-left: 5px;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
}
.container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

h1 {
    text-align: center;
    color: var(--blue);
    justify-content: center;
    text-transform: uppercase;
}

.fa-facebook {
    color: rgb(0, 225, 255);
}

.fa-tiktok {
    color: rgb(0, 225, 255);
}

.fa-instagram {
    color: rgb(0, 225, 255);
}

.fa-youtube {
    color: rgb(0, 225, 255);
}

.fa-facebook:hover{
    color: var(--black);
}

.fa-tiktok:hover{
    color: var(--black);
}

.fa-instagram:hover{
    color: var(--black);
}

.fa-youtube:hover{
    color: var(--black);
}

.footer h1 {
    background-color: var(--white);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    font-size: 1.5rem;
}


/* media queries  */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: 0.2s linear;
    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before {
        content: "\f00d";
    }

    .home {
        flex-flow: column-reverse;
    }

    .home .image img {
        width: 100%;
    }

    .home .content span {
        font-size: 1.5rem;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .about {
        background-position: right;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .about .column .content .buttons a {
        width: 100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child {
        margin: 1rem 0;
    }
}
